@font-face {
  font-family: "netmarbleM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.MuiTypography-root {
  font-family: "netmarbleM", sans-serif !important;
}

div {
  font-family: "netmarbleM", sans-serif !important;
}

button {
  font-family: "netmarbleM", sans-serif !important;
}

span {
  font-family: "netmarbleM", sans-serif !important;
}

a {
  font-family: "netmarbleM", sans-serif !important;
}

input {
  font-family: "netmarbleM", sans-serif !important;
}

label {
  font-family: "netmarbleM", sans-serif !important;
}
