@font-face {
  font-family: "netmarbleM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
