body {
  margin: 0;
  background-color: #f9f6f2 !important;
}

.MuiGrid-root .css-vj1n65-MuiGrid-root {
  max-height: 740px !important;
}

.MuiGrid-root .css-ufezfg-MuiGrid-root {
  max-height: 740px !important;
}
