.css-hlj6pa-MuiDialogActions-root {
  display: none !important;
}

.css-1hbyad5-MuiTypography-root {
  display: none !important;
}

.MuiPickersToolbar-penIconButton {
  display: none !important;
}

.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  display: none !important;
}

.css-1c32n2y-MuiBadge-root {
  position: relative !important;
  bottom: 15px !important;
}
.css-qklzlb-MuiDayPicker-header {
  height: 30px;
}

/* .css-bkrceb-MuiButtonBase-root-MuiPickersDay-root {
  height: 20px ;
} */
