/* 현재 날짜 */
.fc-day-today {
  /* background: white !important; */
  border: none !important;
}
/* 날짜 형식 */
.fc .fc-daygrid-day-number {
  color: black !important;
  text-decoration: none;
  font-family: "netmarble";
}
/* 요일 형식 */
.fc .fc-col-header-cell-cushion {
  color: black !important;
  text-decoration: none;
  font-weight: bolder;
  font-family: "netmarble";
}
/* 달력 제목 형식 */
.fc .fc-toolbar-title {
  font-family: "netmarble" !important;
}

.eventimage {
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.fc-event {
  background-color: transparent;
  border: transparent;
  height: 50px;
}

.fc-daygrid-event-harness {
  pointer-events: none;
}

.fc-daygrid-day-events {
  height: 50px;
}

.fc-header-toolbar {
  font-family: "netmarble";
  margin-bottom: 10px !important;
}

.fc-toolbar-chunk {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.fc-button-primary {
  border-color: bisque !important;
  background-color: bisque !important;
}

.fc-daygrid-day-frame {
  height: 60px;
  line-height: 10px;
}

.fc-daygrid-day-top {
  float: left;
  padding-left: 0px;
}

.fc-event-main {
  /* max-width: 100%;
  max-height: 100%;
  overflow: hidden; */
  position: relative;
  height: 0;
  padding-bottom: 100%;
}

.eventimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fc-daygrid-day {
  margin: 0px;
}

/* .fc-toolbar-title {
  font-size: medium;
} */
