body {
  background: #ffffff !important;
}

.appBar {
  box-sizing: border-box !important;

  position: absolute !important;

  background: #fff4e6 !important;
  border-bottom: 1px solid #000000 !important;
}
.logoText {
  color: #000000 !important;
}
